.box_profile{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 550px;
}

.btnUpdate{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}