.styleMenu{
    background-color: #e0e5b6;
}

.btnLogout{
    background-color: #aeadad;
    color: black;
    text-decoration: none;
    padding: 2.5px 10px 3px 10px;
    border-radius: 5px;
    font-weight: 500;
}

.welcomeText{
    font-weight: 500;
    font-size: 16px;
}